*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display {
    position: relative;
}

.number {
    width: 60px;
    height: 60px;
    margin: 15px;
}

.top {
    position: relative;
    top: 0;
}
.bottom {
    position: relative;
    bottom: 0;
 }

 .text{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    right: 40%;
    margin: 0;
 }
