* {
    box-sizing: border-box;
}

.searchDiv{
    display: flex;
    position: relative;
    height: 59px;
    border-color: red;
    border-width: 5px;
    border-style: inset;
}

.searchDiv .searchButton {
    position: absolute;
    color: red;
    width: 50px;
    height: 49px;
    background: black;
    cursor: pointer;
    left: 0px;
    top: 0;
    margin: 0px;
    outline: none;
    border: none;
    transition: transform 2s ease;
}

body {
    background-image: linear-gradient(0deg, rgb(200,255,190),rgb(100,125,95) );
    display: flex; /* uses Flexbox
    which responds to different view sizes*/
    align-items: center; /*will virticaly center*/
    justify-content: center; /*will horizontaly center*/
    height: 100vh; /*sets the body height to 100% / needed for centering*/
    margin: 0;
    z-index: -2;
}

.searchDiv .searchInput {
    color: red;
    background-color: black;
    padding: 20px;
    height: 50px;
    border: none;
    width: 50px;
    transition: width  2s ease;
    margin: 0;
    z-index: 0;
}

.searchDiv .searchInput:focus {
    outline: none;
}

.searchDiv.active .searchButton {
    transform: translateX(198px);
}

.searchDiv.active .searchInput{
    width: 250px;
}
